@font-face {
    font-family: 'Distortion Of The Brain And Mind';
    src: url('Distortion-Of-The-Brain-And-Mind.woff2') format('woff2'),
        url('Distortion-Of-The-Brain-And-Mind.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

